#!/bin/sh

/usr/local/bin/svn update --username build3 --password "{{ build3_pass }}" ~/movavi/SDK_PKG/Tools --set-depth infinity
if [ ! -f ~/movavi/SDK_PKG/Packages/common ]; then
    /usr/local/bin/svn update --username build3 --password "{{ build3_pass }}" ~/movavi/SDK_PKG/Packages --set-depth immediates
fi
