XCODE:=/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin
CLANG38_ROOT:=/Users/{{ ansible_user }}/movavi/clang_dist/clang-3.8/bin
CLANG39_ROOT:=/Users/{{ ansible_user }}/movavi/clang_dist/clang-3.9/bin
CLANG40_ROOT:=/Users/{{ ansible_user }}/movavi/clang_dist/clang-4.0/bin
CLANG50_ROOT:=/Users/{{ ansible_user }}/movavi/clang_dist/clang-5.0/bin
;CLANG_50_CONAN_ROOT:=$CLANG_COMPILER_ROOT/clang-5.0/bin
;CLANG60_ROOT:=/Users/{{ ansible_user }}/movavi/clang_dist/clang-6.0/bin
CLANG80_ROOT:=/Users/{{ ansible_user }}/movavi/clang_dist/clang-8.0/bin

[tools]
; MUST be equal to Coordinator's
;toolIds=clang38_cpp,clang38_c,clang39_cpp,clang39_c,clang40_cpp,clang40_c,clang50_cpp,clang50_c
toolIds=clang50_cpp,clang50_c,clang80_cpp,clang80_c
; ajust those to real slang toolchain names
clang38_cpp=$CLANG38_ROOT/clang++
clang38_c=$CLANG38_ROOT/clang
clang39_cpp=$CLANG39_ROOT/clang++
clang39_c=$CLANG39_ROOT/clang
clang40_cpp=$CLANG40_ROOT/clang++
clang40_c=$CLANG40_ROOT/clang
;clang50_cpp=$CLANG50_ROOT/clang++,$CLANG_50_CONAN_ROOT/clang++
;clang50_c=$CLANG50_ROOT/clang,$CLANG_50_CONAN_ROOT/clang
clang50_cpp=$CLANG50_ROOT/clang++
clang50_c=$CLANG50_ROOT/clang
;clang60_cpp=$CLANG60_ROOT/clang++
;clang60_c=$CLANG60_ROOT/clang
clang80_cpp=$CLANG80_ROOT/clang++
clang80_c=$CLANG80_ROOT/clang

clang38_cpp_appendRemote=--target=x86_64-apple-darwin16.1.0
clang39_cpp_appendRemote=--target=x86_64-apple-darwin16.1.0
clang39_c_appendRemote=--target=x86_64-apple-darwin16.1.0
clang40_cpp_appendRemote=--target=x86_64-apple-darwin16.1.0
clang40_c_appendRemote=--target=x86_64-apple-darwin16.1.0
clang50_cpp_appendRemote=--target=x86_64-apple-darwin16.1.0
clang50_c_appendRemote=--target=x86_64-apple-darwin16.1.0
;clang60_cpp_appendRemote=--target=x86_64-apple-darwin16.1.0
;clang60_c_appendRemote=--target=x86_64-apple-darwin16.1.0
clang80_cpp_appendRemote=--target=x86_64-apple-darwin16.1.0
clang80_c_appendRemote=--target=x86_64-apple-darwin16.1.0


; todo: эти костыли убрать по хорошему
clang38_cpp_removeRemote=-movavi-compiler-suffix=-ose
clang39_cpp_removeRemote=-movavi-compiler-suffix=-ose

[toolClient]
coordinatorHost=build001.movavi.srv,build3.movavi.srv,build4.movavi.srv   ; ip or hostname
coordinatorPort=7767
