tempDir=R:/Temp/
outputTimestamp=true

[toolServer]
threadCount=18          
listenHost={{ inventory_hostname }}
listenPort=7765        
coordinatorHost={{ coordinators }}
coordinatorPort=7767 
logLevel=5
logDir=D:/Wuild/Logs
logToFile=true

[tools]
MSVC:=D:\Wuild\MSVC2015
MSVC_2019:=D:\Wuild\MSVC2019
WUILD:=D:/Wuild
toolIds=clang38_cpp,clang38_c,clang39_cpp,clang39_c,clang40_cpp,clang40_c,clang50_cpp,clang50_c,clang60_cpp,clang60_c,clang80_cpp,clang80_c,clang90_cpp,clang90_c,clang100_cpp,clang100_c,clang110_cpp,clang110_c,clang120_cpp,clang120_c,msvc2015_x86,msvc2015_x64,msvc2019_x86,msvc2019_x64,mingw81_x64_c,mingw81_x64_cpp,mingw81_x86_cpp,mingw81_x86_c,msvc2019_14.23.28105_x86,msvc2019_14.23.28105_x64,msvc2019_14.24.28314_x86,msvc2019_14.24.28314_x64,msvc2019_14.25.28610_x86,msvc2019_14.25.28610_x64,msvc2019_14.29.30037_x86,msvc2019_14.29.30037_x64,msvc2019_14.24.28314_x86,msvc2019_14.24.28314_x64
clang38_c_version=3.8.0
clang38_cpp_version=3.8.0
clang39_c_version=3.9.0
clang39_cpp_version=3.9.0
clang38_cpp=D:/Wuild/clang38/bin/clang++.exe
clang38_c=D:/Wuild/clang38/bin/clang.exe
clang39_cpp=D:/Wuild/clang39/bin/clang++.exe
clang39_c=D:/Wuild/clang39/bin/clang.exe
clang40_cpp=D:/Wuild/clang40/bin/clang++.exe
clang40_c=D:/Wuild/clang40/bin/clang.exe
clang50_cpp=D:/Wuild/clang50/bin/clang++.exe
clang50_c=D:/Wuild/clang50/bin/clang.exe
clang60_cpp=D:/Wuild/clang60/bin/clang++.exe
clang60_c=D:/Wuild/clang60/bin/clang.exe
clang80_cpp=D:/Wuild/clang80/bin/clang++.exe
clang80_c=D:/Wuild/clang80/bin/clang.exe
clang90_cpp=D:/Wuild/clang90/bin/clang++.exe
clang90_c=D:/Wuild/clang90/bin/clang.exe
clang100_cpp=D:/Wuild/clang100/bin/clang++.exe
clang100_c=D:/Wuild/clang100/bin/clang.exe
clang110_cpp=D:/Wuild/clang110/bin/clang++.exe
clang110_c=D:/Wuild/clang110/bin/clang.exe
clang120_cpp=D:/Wuild/clang120/bin/clang++.exe
clang120_c=D:/Wuild/clang120/bin/clang.exe
msvc2015_x86=$MSVC\amd64_x86\cl.exe
msvc2015_x64=$MSVC\amd64\cl.exe
msvc2019_x86=$MSVC_2019\14.23.28105\x86\cl.exe
msvc2019_x64=$MSVC_2019\14.23.28105\x64\cl.exe
msvc2019_14.23.28105_x86=$MSVC_2019\14.23.28105\x86\cl.exe
msvc2019_14.23.28105_x64=$MSVC_2019\14.23.28105\x64\cl.exe
msvc2019_14.24.28314_x86=$MSVC_2019\14.24.28314\x86\cl.exe
msvc2019_14.24.28314_x64=$MSVC_2019\14.24.28314\x64\cl.exe
msvc2019_14.25.28610_x86=$MSVC_2019\14.25.28610\x86\cl.exe
msvc2019_14.25.28610_x64=$MSVC_2019\14.25.28610\x64\cl.exe
msvc2019_14.29.30037_x86=C:\Users\user\.conan\data\VCTools\14.29.30037\movavi\testing\package\3475bd55b91ae904ac96fde0f106a136ab951a5e\bin\x86\cl.exe
msvc2019_14.29.30037_x64=C:\Users\user\.conan\data\VCTools\14.29.30037\movavi\testing\package\3475bd55b91ae904ac96fde0f106a136ab951a5e\bin\x64\cl.exe
msvc2019_14.24.28314_x86=C:\Users\user\.conan\data\VCTools\14.24.28314\movavi\testing\package\3475bd55b91ae904ac96fde0f106a136ab951a5e\bin\x86\cl.exe
msvc2019_14.24.28314_x64=C:\Users\user\.conan\data\VCTools\14.24.28314\movavi\testing\package\3475bd55b91ae904ac96fde0f106a136ab951a5e\bin\x64\cl.exe
mingw81_x64_cpp=$WUILD/mingw81/x64/g++.exe
mingw81_x64_c=$WUILD/mingw81/x64/gcc.exe
mingw81_x64_cpp_env="$WUILD\mingw81\x64\envpath.bat"
mingw81_x64_c_env="$WUILD\mingw81\x64\envpath.bat"
mingw81_x86_cpp=$WUILD/mingw81/x86/g++.exe
mingw81_x86_c=$WUILD/mingw81/x86/gcc.exe