tempDir=C:\sign\Temp\
logLevel=5

[tools]
toolIds=signtool_win10
signtool_win10=C:\sign\signtool.exe 
signtool_win10_type=update_file

[toolServer]
threadCount=4            ; set host CPU's used for compilation
listenHost=pc-1275  ; network ip or host name for incoming connections
listenPort=7785           ; should be different for coordinator's
coordinatorHost={{ coordinators }}
coordinatorPort=7767 