@echo off
pushd "D:\J\SDK_PKG"
svn update Tools --set-depth infinity --username build3 --password "{{ build3_pass }}"
If NOT exist "Packages\\common" (
svn update Packages --set-depth immediates --username build3 --password "{{ build3_pass }}"
) 
popd

pushd "D:\J\SDK_PKG\Tools"
call extract_tools.bat
popd