import jenkins.model.*
import hudson.model.*
import hudson.slaves.*
import hudson.slaves.EnvironmentVariablesNodeProperty.Entry

List<Entry> env = new ArrayList<Entry>();
{% for item in (slave_environments | dict2items) %}
env.add(new Entry("{{ item.key }}", "{{ item.value }}"))
{% endfor %}
EnvironmentVariablesNodeProperty envPro = new EnvironmentVariablesNodeProperty(env);

ComputerLauncher launcher = new JNLPLauncher()
Slave slave = new DumbSlave("{{ slave_agent_name }}",
                            "{{ slave_windows_workdir }}",
                            launcher)
slave.nodeDescription = "{{ slave_description }}"
slave.numExecutors = {{ slave_executors_num }}
slave.labelString = "{{ slave_windows_labels | join(" ") }}"
{% if slave_mode_exclusive %}
slave.mode = Node.Mode.EXCLUSIVE
{% else %}
slave.mode = Node.Mode.NORMAL
{% endif %}
slave.retentionStrategy = new RetentionStrategy.Always()
slave.getNodeProperties().add(envPro)
Jenkins.instance.addNode(slave)
print slave.getComputer().getJnlpMac()
